@page {
    size: 210mm 297mm;
    margin-top: 25mm;
    margin-left: 25mm;
    margin-right: 25mm;
    margin-bottom: 25mm;
}

.invoice {
    margin: 0mm;
    border: none;
    padding: 0mm;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.invoice__company, .invoice__summary, .invoice__items, .invoice__totals, .invoice__vat-summary {
    width: 100%;
}

th, tr, td {
    border-style: dashed;
    border-color: blue;
}
    
th, .invoice__vat-summary-heading {
    text-transform: uppercase;
    font-weight: bold;
}

.invoice__summary th, .invoice__items, .invoice__totals, .invoice__vat-summary {
    text-align: right;
}

#id_invoice-to, #id_activity-heading, #id_activity-item {
    text-align: left;
}

.invoice__company-name {
    font-size: 8pt;
    font-weight: bold;
}

.invoice__company-address {
    font-size: 8pt;
}

.invoice__company-logo img {
    height: auto;
    width: auto;
    max-width: 50mm;
}

.invoice__company-logo {
    text-align: right;
}

.invoice__heading {
    font-size: 24pt;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-weight: bold;
    color: darkorange;
}

.invoice__invoice-address {
    font-family: "Lucida Console", Monaco, monospace;
}
