@page {
    size: 210mm 297mm;
    margin-top: 25mm;
    margin-left: 25mm;
    margin-right: 25mm;
    margin-bottom: 25mm;
}

.invoice {
    margin: none;
    border: none;
    padding: none;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.invoice__company-name {
    font-size: 8pt;
    font-weight: bold;
}

.invoice__company-address {
    font-size: 8pt;
}

.invoice__company-logo {
    text-align: right;
}

.invoice__heading {
    font-size: 24pt;
    font-family: Georgia, Times, serif;
    font-style: italic;
    font-weight: bold;
}

th.invoice__summary {
    font-weight: bold;
    text-transform: uppercase;
}

.invoice__invoice-address {
    font-family: "Lucida Console", Monaco, monospace;
}
